In [1]:
import pandas as pd
import json

with open('download.json', 'r', encoding='utf-8') as file:
    data = json.load(file)

df = pd.DataFrame(data['elements'])
df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
0,0.0,0.0,438098,0,0,-1,1,0,3,0.0,...,171,108,605,273,605,273,574,250,0.00,0.0
1,0.0,0.0,205651,0,0,-2,2,0,4,0.0,...,38,17,629,68,629,68,184,31,0.00,0.0
2,NaN,NaN,226597,0,0,0,0,0,2,5.3,...,82,5,24,6,63,16,29,11,1.20,0.8
3,NaN,NaN,219847,0,0,1,-1,2,4,7.3,...,12,4,7,3,24,4,18,5,1.20,0.8
4,0.0,0.0,463748,0,0,0,0,0,1,0.0,...,611,63,381,46,381,46,507,63,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,NaN,NaN,231480,0,0,0,0,0,2,-0.5,...,410,91,466,184,466,184,467,170,0.00,0.0
633,NaN,NaN,88484,0,0,-1,1,0,3,0.2,...,151,94,252,129,290,150,377,128,0.00,0.0
634,NaN,NaN,247412,0,0,0,0,0,4,2.2,...,126,35,80,10,78,9,203,33,1.04,0.0
635,NaN,NaN,510362,0,0,0,0,0,2,0.2,...,482,119,227,72,242,83,342,124,1.00,0.0
636,NaN,NaN,560248,0,0,0,0,0,2,0.5,...,633,204,402,141,402,141,558,189,0.00,0.0